<div align="center" style="margin-top:180px;">
        <table>
            <tr><td align="center" colspan="2"><h2>Number Format and Number Decimal Rounding</h2></td></tr>
            <tr><td>Enter the Number  : </td><td><input type="text" [(ngModel)]="num1"></td></tr>
            <tr><td>Formatted Number with Decimal Rounding: </td><td><input type="text" value="{{num1|number:'5.3-5'}}"></td></tr>
            <tr><td>Enter the Number  : </td><td><input type="text" [(ngModel)]="num2"></td><td></td></tr>
            <tr><td>Formatted Number with zero Decimal Rounding: </td><td><input type="text" value="{{num2|number:'5.0-0'}}"></td></tr>
            <tr><td>Enter the Number  : </td><td><input type="text" [(ngModel)]="num3"></td></tr>
            <tr><td>Formatted Number with Percent : </td><td><input type="text" value="{{num3|percent:'2.1-3'}}"></td></tr>
            <tr><td>Enter the Input Value : </td><td><input type="text" [(ngModel)]="val" maxlength="16"></td></tr>
            <tr><td>Formatted Value : </td><td><input type="text" value="{{val|number}}" ></td></tr>
        
        </table>
</div>
